# TEST REPORT OUTLINE

## SECTION 1: OVERVIEW OF TEST RESULTS

### Overview

(Paragraph)
Overall the results provide expected results. The compatibility and Usability tested have shown promise and assure us that the game is ready for public release. The Controls are fully reliable and the game functions in every major browser tested.

#### Number of Test performed

There is a total of nine seperate test, three for each browser. All test involce the games ability to run, accept control inputs and overall gameplay. 

#### Number of Defects

There was no defects within the games, confirming it is ready for public release.

#### Requirements Status

(Paragraph)
* According to your test plan requirements did your test case runs meet your listed requirements. All tests gave desired results and gameplay was pronounced fair and completeable. 

### Test Environment

The enviorment is post-release withing the [Itch.io](itch.io) website. The few bugs that are beign found have been rectified as well and visual issues. The game itself has no customization if the player wants to change keybindings but that does not affect the game.

#### Hardware Configuration

All tests were preformed on a basic PC withing three major browsers, Google Chrome, Firefox, and Opera GX. All browsers produce the same result.

### Recommendation

While the game is complete and runs as intended there is a few thigns that should be altered before this is considered a good game. First of the aiming and keybidings for those using a mouse and keyboard. IT's a bit uncanny having to use the arrow keys or the ESDF keys instead of the universal WASD. If the keybidings could atleast be alteres, and the aiming falls in like with the mouse movement, this game would be free of all issues.


## SECTION 2: DETAILED TEST RESULTS

### List of Tests

| Name of Test | Status – Pass/Fail | Tester | Test ID | Associated Requirement |
|---|---|---|---|---|
| Run Firefox | Pass | Johnathan | #1| PC, Keyboard, Mouse, Internet, Firefox |
| Run Google Chrome | Pass | Johnathan|#2 |  PC, Keyboard, Mouse, Internet, Google Chrome|
| Run Opera GX| Pass | Johnathan| #3| PC, Keyboard, Mouse, Internet, Opera GX |
| UI and Controls Firefox |Pass| Johnathan|#4 | PC, Keyboard, Mouse, Internet, Firefox |
| UI and Controls Google Chrome | Pass |Johnathan |#5|   PC, Keyboard, Mouse, Internet, Google Chrome|
| UI and Controls Opera GX| Pass |Johnathan |#6| PC, Keyboard, Mouse, Internet, Opera GX |
| Gameplay Firefox |Pass | Johnathan|#7 | PC, Keyboard, Mouse, Internet, Firefox |
| Gameplay Google Chrome | Pass|Johnathan |#8 |  PC, Keyboard, Mouse, Internet, Google Chrome |
| Gameplay Opera GX|Pass |Johnathan |#9 | PC, Keyboard, Mouse, Internet, Opera GX |

## SECTION 3: SUMMARY OF DEFECTS

### List of Defects found or fixed

NO DEFECTS
